<link rel="stylesheet" type="text/css" href="style/my-photos.css">

<div id="left-col">

</div>

<div id="center-col">
	<div class="col">
		<% for (i = 0; i < photos.length; i++) { %>
			<div class="photo-container">
				<img src="/images/photo/<%= photos[i].photo_number %>.jpg">
				<div class="like">
					<ion-icon name="md-thumbs-up"></ion-icon><label><%= photos[i].likes %></label>
				</div>
				<div class="dislike">
					<ion-icon name="md-thumbs-down"></ion-icon><label><%= photos[i].dislikes %></label>
				</div>
			</div>
		<% i++; } %>
	</div>
	<div class="col">
		<% for (i = 1; i < photos.length; i++) { %>
			<div class="photo-container">
				<img src="/images/photo/<%= photos[i].photo_number %>.jpg">
				<div class="like">
					<ion-icon name="md-thumbs-up"></ion-icon><label><%= photos[i].likes %></label>
				</div>
				<div class="dislike">
					<ion-icon name="md-thumbs-down"></ion-icon><label><%= photos[i].dislikes %></label>
				</div>
			</div>
		<% i++; } %>
	</div>
</div>